<div *ngIf="!idBuscarDetalle; else table">


        <div class="row">
            <div class="col-12">
            <hr>
              <incidencias [incidencias]="incidencias"
                           (onNewCharacter)="obtenerId($event)"
                           (onSearchIncidencia)="onSearchIncidencia($event)"
              ></incidencias>
            </div>
        </div>

  </div>

  <ng-template #table>
    <div class="row">
        <div class="col-4">
            <hr>
            <incidencias [incidencias]="incidencias"
                         (onNewCharacter)="obtenerId($event)"
                         (onSearchIncidencia)="onSearchIncidencia($event)"
                         ></incidencias>
        </div>

        <div class="col-8">
            <hr>
            <incidencia-detalles-table
              [detallesincidencias]="detallesincidencias" >
            </incidencia-detalles-table>
        </div>
    </div>

  </ng-template>

