
<div *ngIf="detallesincidencias.length === 0; else table" class="alert alert-warning text-center">
    No hay incidencias que mostrar
  </div>

  <ng-template #table>

    <div class="card" *ngFor="let incidencia of detallesincidencias; let i = index">
      <h5 class="card-header">{{incidencia?.usuario?.nombre}}</h5>
      <div class="card-body">
        <p class="card-text">{{incidencia?.mensaje}}</p>
      </div>
    </div>

    <div class="container">
      <form class="form-inline">
      <div class="row mt-3">
        <div class="col-6">
            <input type="text"  class="form-control mr-3"  placeholder="Enviar Mensaje">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </div>
      </div>
      </form>
    </div>



  </ng-template>
