<div class="row">
  
    <div class="columna col-12 col-lg-12">

     
    
     <div class="widget nueva_entrada">
         <nav class="navbar navbar-expand-lg"> 
           <div class="container-fluid">
            <mat-tab-group >
              <mat-tab label="First"> Content 1 </mat-tab>
              <mat-tab label="Second"> Content 2 </mat-tab>
              <mat-tab label="Third"> Content 3 </mat-tab>
            </mat-tab-group>
             <a class="navbar-brand" href="#">IncidenciasXXßß</a>
           
             <ul><li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                 Dropdown
               </a>
               <ul class="dropdown-menu">
                 <li><a class="dropdown-item" href="#">Action</a></li>
                 <li><a class="dropdown-item" href="#">Another action</a></li>
                 <li><hr class="dropdown-divider"></li>
                 <li><a class="dropdown-item" href="#">Something else here</a></li>
               </ul>
             </li></ul>
           </div>
         </nav>
       </div>
    </div>
</div>

<div class="columna col-12 col-lg-7">
      
             
      
    <div class="widget">
   
     <form action="">
      
        <div class="input-group mb-0">

          <div class="row d-flex" >
            <div class=" col-6">
             En curso
            </div>
            <div class=" col-4">
        
              Resueltas 
            </div>
         
          </div>
       
        </div>

        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Titulo de entrada">
        <div class="input-group-prepend">
          <button class="btn btn-primary">Enviar</button>
        </div>
        </div>
    
    
     </form>
    </div>
 </div>